root = true

[*.cs]
#indent_style = space
#indent_size = 2

#indent_style = tab
#indent_size = 8
#tab_size = 4

#csharp_new_line_before_open_brace = none
#dotnet_style_predefined_type_for_locals_parameters_members = true:error